-
  const ttl = "FileAPI study"

doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title #{ttl}
    link(rel="stylesheet" href="css/style.css")
  body
    header
      h1 #{ttl}
    main
      input#file(type="file")
      p FileAPIの読込結果(※txt/CSVファイル)
      div#result(style="background-color:#f4ca3630")

    script(src="https://www.gstatic.com/firebasejs/7.15.3/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/7.15.3/firebase-analytics.js")
    script(src="js/index.js")