-
  const ttl = "第18回 スタジオ管理シート"

doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title #{ttl}
    link(rel="stylesheet" href="css/test.css")
  body.ly_cont
    header
      h1.title #{ttl}
      div
        span header,divで子孫セレクタspan要素です
      span headerのspan要素です
    main
      article.article_main
        span mainのspan要素です
      article.article_main
        span mainのspan要素です